body {
	margin: 0;
	padding: 0;
	background-color: orange;
}

.divWrapper {
	width: 100%;
}

.ul {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	list-style-type: none;
	margin: 0;
	background-color: #f1f1f1;
	border: 1px solid #555;
	padding: 1%;
}

/* li {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
	transition: 0.5s;
}

li:hover {
	background-color: #555;
	color: white;
	cursor: pointer;
	transition: 0.5s;
}

li {
	text-align: center;
	border-bottom: 1px solid #555;
	display: inline;
} */

.homeView {
	grid-column: 5/10;
	grid-row: 1/1;
	align-self: center;
	justify-self: center;
}


@media only screen and (max-width: 600px) {
	body {
		background-color: lightblue;
	}

	.divWrapper {
		display: none;
	}
}